:root {
    --seaside-white: #FFF8F0;
    --seaside-blue: #9CD9D2;
    --seaside-navy: #3C315E;
    --seaside-orange: #FFB870;
    --seaside-yellow: #F5D16E;
    --status-green: #4ba400;
    --status-orange: #d77900;
    --status-red: #ff3131;
}
body {
    margin: 0px;
    background-color: var(--seaside-blue);
}
.main-game {
    background-image: url(../../assets/img/beach.png);
    background-color: var(--seaside-white);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

main {
    background-color: var(--seaside-blue);
    min-height: calc(100vh - 150px);
}
header {
    height: auto;
    margin: 0px;
    border-bottom-style: solid;
    border-width: 0px 0px 10px 0px;
    border-color: var(--seaside-yellow);
    background-color: var(--seaside-blue);
}
h1 {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
h2 {
    background-color: var(--seaside-white);
    border-style: solid;
    border-width: 5px;
    border-color: var(--seaside-yellow);
    margin: 20px auto;
    width: 30%;
    text-align: center;
}
h3 {
    margin: 8px 0px 0px 8px;
}
.pet-health {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 33% 33% 33%;
    justify-items: center;
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}
#main-pet-image {
    width: 30%;
}
.health-area {
    background-color: var(--seaside-white);
    border-style: solid;
    width: 40%;
    border-width: 5px;
    border-color: var(--seaside-yellow);
    margin: auto;
    border-radius: 5px;
}
/* Note: The way to change the progress bar color is accent-color */
#health-bar {
    width: 80%;
    accent-color: var(--status-green);
}

.stat-icons {
    font-size: 25px;
}
section.stat-area {
    border-color: var(--seaside-yellow);
    background-color: var(--seaside-white);
    border-style: solid;
    border-width: 5px;
    width: 60%;
    margin: 0px auto;
    padding: 30px;
    border-radius: 5px;
}
.stat-numbers {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    justify-items: center;
}
.hunger {
    margin-right: 50px;
}
.happiness {
    margin-left: 50px;
}
.numbers {
    display:none;
}
#full-hun-num2, #full-hun-num, #hun-num, #hun-num-two  {
    color: var(--status-green);
}
#full-hyg-num2, #full-hyg-num, #hyg-num, #hyg-num-two  {
    color: var(--status-green);
}
#full-hap-num2, #full-hap-num, #hap-num, #hap-num-two  {
    color: var(--status-green);
}
.stat-buttons {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    text-align: center;
}
#feed-btn {
    background-color: var(--seaside-orange);
    font-size: 20px;
    width: 100px;
    border-color: var(--seaside-yellow);
    border-style: solid;
    border-width: 5px;
    border-radius: 8px;
}
#bathe-btn {
    background-color: var(--seaside-orange);
    font-size: 20px;
    width: 100px;
    border-color: var(--seaside-yellow);
    border-style: solid;
    border-width: 5px;
    border-radius: 8px;
}
#pet-btn {
    background-color: var(--seaside-orange);
    font-size: 20px;
    width: 100px;
    border-color: var(--seaside-yellow);
    border-style: solid;
    border-width: 5px;
    border-radius: 8px;
}
#play-btn {
    background-color: var(--seaside-orange);
    font-size: 20px;
    width: 100px;
    border-color: var(--seaside-yellow);
    border-style: solid;
    border-width: 5px;
    border-radius: 8px;
}
#event-text {
    border-color: var(--seaside-yellow);
    border-style: solid;
    border-width: 5px;
    text-align: center;
    font-size: 20px;
    margin: 20px auto;
    background-color: var(--seaside-white);
    width: 60%;
    border-radius: 5px;
}
footer {
    background-color: var(--seaside-orange);
    height: auto;
    width: 100vw;
}
.footer-nav {
    border-top-style: solid;
    border-width: 10px 0px 0px 0px;
    border-color: var(--seaside-yellow);
    height: auto;
 }


.footer-nav ul {
    list-style-type: none;
    text-align: center;
    font-size: 25px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
}
.footer-icons {
    margin-top: 30px;
    font-size: 30px
}
#meet-page:hover {
    background-color: var(--seaside-white);
    padding: 10px;
    border-radius: 10px;
}
#home-page:hover {
    background-color: var(--seaside-white);
    padding: 10px;
    border-radius: 10px;
}
.coming-soon , .fa-star {
    color: #535353;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--seaside-navy);
    color: var(--seaside-white);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.75em;
    text-align: center;
    padding: 10% 10%;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.current-page {
    background-color: var(--seaside-white);
    padding: 10px;
    border-radius: 10px;
}
.colorChangeRed {
    color: var(--status-red);
}
.colorChangeOrange {
    color: var(--status-orange);
}
.colorChangeGreen {
    color: var(--status-green);
}
#death-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    visibility: hidden;

}
#death-modal-content {
    height:auto;
    width:70%;
    border-width: 5px;
    border-style: solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 5);
    padding: 20px;
    align-content: center;
    text-align: center;
    background-color: aliceblue;
    border-color: aquamarine;
    border-radius: 5px;
    display: block;
}
.modal-btn {
    background-color: var(--seaside-orange);
    font-size: 1em;
    width: 100px;
    border-color: var(--seaside-yellow);
    border-style: solid;
    border-width: 5px;
    border-radius: 8px;
}
.fa-ship {
    font-size: 200px;
    margin-bottom: 30px;
}
#rehab-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
}
#rehab-modal-content {
    height:auto;
    width:70%;
    border-width: 5px;
    border-style: solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 5);
    padding: 20px;
    align-content: center;
    text-align: center;
    background-color: aliceblue;
    border-color: aquamarine;
    border-radius: 5px;
    display: block;
}
#rehab-pet-image {
    width: 30%;
}


/* Responsive designs */
@media screen and (max-width: 480px) {
    .pet-health {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-items: center;
        text-align: center;
        font-size: 20px;
        margin-bottom: 50px;
}
    .main-game {
        background-size: 350%;
        background-repeat: no-repeat;
        background-position: center bottom;
        display: grid;
        grid-template-rows: auto auto auto auto;
        justify-items: center;
    }
    h2 {
        margin: 20px;
        padding: 0px 17px 0px 0px;
}
    #main-pet-image {
        width: 50%;
    }
    #rehab-pet-image {
        width: 50%;
    }
    section.stat-area {
        width: 60%;
        margin: 0px auto;
        padding: 30px;
    }
    .stat-numbers {
        grid-template-columns: auto auto auto;
    }
    .stat-icons {
        margin: 0px 20px;
    }
    #feed-btn, #bathe-btn, #play-btn, #pet-btn {
        width: auto;
        font-size: .75em;
    }
    footer {
        width: 100%;
        margin: 0px;
    }
    .footer-nav ul {
        text-align: center;
        font-size: 1em;
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px;
    }
    .numbers {
        display: block;
    }
    .words {
        display:none;
    }

}
@media screen and (max-width: 768px) and (min-width: 481px) {
    .main-game {
        background-size: 200%;
        justify-items: center;
    }
    h2 {
        margin: 20px 30%;
    }
    section.stat-area {
        width: 60%;
        margin: 0px auto;
        padding: 30px;
    }
    .stat-numbers {
        grid-template-columns: auto auto auto;
    }
    #feed-btn, #bathe-btn, #play-btn, #pet-btn {
        width: auto;
        font-size: 1em;
    }
    footer {
        width: 100%;
        margin: 0px;
    }
    .footer-nav ul {
        text-align: center;
        font-size: 1em;
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px;
    }
}
@media all and (max-width: 1025px) and (min-width: 769px) {
    .main-game {
        background-size: 200%;
        justify-items: center;
    }
    h2 {
        margin: 20px 30%;
    }
    section.stat-area {
        width: 60%;
        margin: 0px auto;
        padding: 30px;
    }
    .stat-numbers {
        grid-template-columns: auto auto auto;
    }
    footer {
        width: 100%;
        margin: 0px;
    }
    .footer-nav ul {
        text-align: center;
        font-size: 1em;
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px;
    }
}
