:root {
    --seaside-white: #FFF8F0;
    --seaside-blue: #9CD9D2;
    --seaside-navy: #3C315E;
    --seaside-orange: #FFB870;
    --seaside-yellow: #F5D16E;
}

/* mobile/base */

body {
    margin: 0;
    border: 0;
    background-color: var(--seaside-blue);
}

main {
    text-align: center;
    min-height: calc(100vh - 150px);
    max-width: 70%;
    margin: auto;
}

footer {
    background-color: var(--seaside-orange);
    width: 100vw;
}

.footer-nav {
    border-top-style: solid;
    border-width: 10px 0px 0px 0px;
    border-color: var(--seaside-yellow);
    height: 150px;
 }

.footer-nav ul {
    list-style-type: none;
    text-align: center;
    font-size: 25px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
}

.footer-icons {
    margin-top: 30px;
    font-size: 30px
}

#meet-page:hover {
    background-color: var(--seaside-white);
    padding: 10px;
    border-radius: 10px;
}

.current-page {
    background-color: var(--seaside-white);
    padding: 10px;
    border-radius: 10px;
}

.no-game , .fa-otter {
    color: #535353;
}

/* Tooltip */

.tooltip {
    position: relative;
    display: inline-block;
}
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--seaside-navy);
    color: var(--seaside-white);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.75em;
    text-align: center;
    padding: 10% 10%;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

h1 {
    margin-top: 0;
    padding-top: 10%;
    font-weight: bold;
    font-size: 30px;
}

h2 {
    font-size: 14px;
    margin: 0 10% 0 10%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    font-style: normal;
}

form > button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: calc(.10*100vw);
    width: max-content;
    height: 40px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--seaside-yellow);
    border-radius: 8px;
    background-color: var(--seaside-orange);
    font-weight: bolder;
    font-family: "Lato", sans-serif;
    font-style: normal;
}

#adoptModal {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: fit-content;
    max-height: 80vh;
    z-index: 99;
    background-color: var(--seaside-white);
    border-style: solid;
    border-color: var(--seaside-yellow);
    border-radius: 8px;
}

#modalContent > p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
    font-size: 14px;
    z-index: 99;
}

/* Adopt Pet Modal CSS Grid */

#modalContent {
    display: grid;
    grid-template-rows: 15% 2fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1% auto 15% auto;
    height: 55%;
    z-index: 99;
}

.closeBtn {
    all: unset;
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    width: 8vw;
    max-width: 40px;
    height: calc(.75 * 8vw);
    max-height: 28px;
    justify-self: end;
    border-width: 5px;
    border-color: var(--seaside-yellow);
    border-radius: 8px;
    background-color: var(--seaside-orange);
    font-weight: bolder;
    margin-right: 3%;
    margin-top: calc(.03 * vw);
}

#adoptModal p {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}

#modalContent > img {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    max-width: 100px;
    justify-self: center;
    margin-bottom: 2%;
}

#petName {
    grid-row: 4 / 5;
    grid-column: 2 / 4;
    height: 20px;
    width: auto;
    justify-self: center;
}

#petNameBtn {
    grid-row: 5 / 6;
    grid-column: 2 / 4;
    justify-self: center;
    width: max-content;
    height: 40px;
    min-width: 50px;
    max-width: 70px;
    margin-left: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--seaside-yellow);
    border-radius: 8px;
    background-color: var(--seaside-orange);
    font-weight: bolder;
    font-family: "Lato", sans-serif;
    font-style: normal;
}

#modalBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--seaside-white);
    opacity: 0.5;
    z-index: 50;
}


/* Accounting for responsive design */


/* mobile landscape */

@media screen and (max-width: 480px) {
    footer {
        width: 100%;
        margin: 0px;
    }
    .footer-nav ul {
        text-align: center;
        font-size: 1em;
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px;
    }
    #adoptModal {
        max-width: 70vw;
    }
}


@media all and (min-width: 600px) {
    form > button {
        width: 15%;
    }

    #adoptModal {
        max-width: 40vw;
    }
}

/* tablet */

@media all and (min-width: 768px) {
    form > button {
        width: 10%;
    }

    #adoptModal {
        height: min-content;
        max-width: 40vw;
    }
}

/* desktop */

@media all and (min-width: 1024px) {
    form > button {
        width: 8%;
    }
    
    h1 {
        padding-top: 5%;
    }

    h2 , h3 {
        font-size: 16px;
    }

    #modalContent > img {
        max-width: 130px;
    }

    #adoptModal {
        max-width: 30vw;
    }
}

/* desktop wide */

@media all and (min-width: 1200px) {
    #adoptModal {
        max-width: 20vw;
    }

    h1 {
        font-size: 42px;
    }

    h2 , h3 {
        font-size: 20px;
    }
}

@media all and (min-width: 1440px) {
    h2 , h3 {
        font-size: 32px;
    }
}








