#adoptModal {
    display: none;
    z-index: 99;
    position: fixed;
    left: 200px;
    top: 200px;
    width: 400px;
    height: 20%;
    background-color: lightblue;
}

.modalContent {
    display: grid;
    grid-template-rows: 15% 2fr 2fr 1fr;
    grid-template-columns: 1fr 3fr 1fr 1fr;
}

#closeBtn {
    grid-row: 1 / 2;
    grid-column-start: 4;
    width: 40%;
    justify-self: end;
    margin-right: 5px;
    margin-top: 5px;
}

#petName {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    height: 20px;
}

#petNameBtn {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    height: 26px;
    margin-left: 5px;
}
