:root {
    --seaside-white: #FFF8F0;
    --seaside-blue: #9CD9D2;
    --seaside-navy: #3C315E;
    --seaside-orange: #FFB870;
    --seaside-yellow: #F5D16E;
}
/*background-color: var(--seaside-blue); example*/

main {
    background-color: var(--seaside-white);
    min-height: calc(100vh - 150px);
}
header {
    height: 60px;
    margin: 0px;
}
h1 {
    text-align: center;
    margin: 0px;
}
h2 {
    text-align: center;
}
section {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;

}
.dev-morgan {
    width: 400px;
    margin-left: 20px;
}
.dev-morgan img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: var(--seaside-blue);
}
.dev-krissy {
    width: 400px;
    margin-left: 50px;
    margin-right: 20px;
}
.dev-krissy img {
    margin-top: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 58%;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: var(--seaside-blue);
}
footer {
    background-color: var(--seaside-orange);
}
.footer-nav {
    border-top-style: solid;
    border-width: 10px 0px 0px 0px;
    border-color: var(--seaside-yellow);
    height: 150px;
 }


.footer-nav ul {
    list-style-type: none;
    text-align: center;
    font-size: 25px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
}
.footer-icons {
    margin-top: 30px;
    font-size: 30px
}
.current-page {
    color: var(--seaside-white);
}

